<!-- Footer start -->
<footer class="footer">

    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <p class="copy">© {% now 'Y' %} <a href="#">Boatseller.org.</a> All Rights Reserved.</p>
                </div>
                <div class="col-lg-4">
                    <div class="social-list-2">
                        <ul>
                            <li><a href="https://www.facebook.com/theboatsellercom" target="_blank" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/the_BoatSeller" target="_blank" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/the_boat_seller/" target="_blank" class="google-bg"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://www.pinterest.com/boatslist/" target="_blank" class="linkedin-bg"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->
